.cabecera{
    background-color: var(--blog);
    color: #fff;
    text-align: center;
    padding: 50px 0;
    border-radius: 30px;
}



.cardContainer{
    padding: 10px 10px;
    background-color: var(--fondo2);
    border-radius: 30px;
    margin-top: 30px;
}

.card {
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: solid var(--naranja) 1px;
}

.card .txt{
    text-align: center;
    line-height: 30px;
}

.title{
    color: var(--naranja);
}

.cardImage {
    width: 100%;
    max-width: 1400px;
    margin-top: 20px;
}

.cardContent p {
    line-height: 26px;
}

.cardImage img{
    width: 100%;
    display: block;
}

.sinEntradas{
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) {

    .cardContainer{
        padding: 20px 70px;
    }

    .card {
        padding: 50px 100px;
    }
}