.btn {
    padding: 10px 30px;
    border: solid 1px;/* Define el borde, pero el color será heredado */
    border-radius: 50px;
    background: none;
    color: inherit;  /* Usa el color heredado de las propiedades en línea */
    cursor: pointer;
}