.recipeList {
    max-width: 1400px;
    margin: 0 auto 50px auto;
    overflow: auto; /* Permite el desplazamiento dentro del contenedor */
    border-radius: 30px;
    margin-top: 30px;
}

.recipesGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Una columna en pantallas pequeñas */
    width: 100%;
}

@media (min-width: 768px) {
    .recipesGrid {
        grid-template-columns: repeat(3, 1fr); /* Tres columnas en pantallas más grandes */
    }
}
