/* Footer.module.css */

.container {
    background: var(--verde);
    color: #fff;
    width: 100%;
    padding: 50px 10px;
    color: var(--footer);
    margin-top: 50px;
}

.container2{
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.container2 img {
    width: 200px;
}

.txt {
    font-size: 0.85em
}

.socialIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.socialIcons div {
    display: flex;
    gap: 15px;
}

.iconContainer {
    background-image: url('/img/web/redes.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    font-size: 1.3em;
    margin: 0 10px;
    transition: color 0.3s ease;
    color: var(--verde);
}

.icon:hover {
    color: var(--naranja);
    /* Cambia el color al pasar el mouse sobre los íconos */
}

@media (min-width: 768px) {

    .container2 {
        flex-direction: row;
        justify-content: space-around;
        gap: 0;
    }

    .txt {
        font-size: 1em
    }

    .socialIcons {
        flex-direction: row;
    }

}