
.container {
    height: 100%;
      display: flex;
      flex-direction: column;
      color: var(--verde);
      margin-top: 50px;
      padding: 10px;
      gap: 20px;
}

.container div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container div h2 {
    font-size: 1.5em;
      font-family: var(--tipografia2);
      margin-bottom: 20px; /* A침adir margen inferior para separar del bot칩n */
}

.container div p {
    font-size: 1em;
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        height: max-content;
        padding: 0 70px 0 70px;
    }

    .container div {
        flex-direction: column;
    }

    .container div h2 {
        font-size: 2.8em;
        font-family: var(--tipografia2);
        line-height: 80px;
        margin-bottom: 20px; /* A침adir margen inferior para separar del bot칩n */
    }

    .container div p {
        line-height: 40px;
        font-size: 1.4em;
    }
  }