
.container {
    height: 100%;
      color: var(--verde);
      margin: 50px 0;
      padding: 20px;
     
}

.container2{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    gap: 20px;
}

.container2 div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container2 div h2 {
    font-size: 1.5em;
      font-family: var(--tipografia2);
      margin-bottom: 20px; /* Añadir margen inferior para separar del botón */
}

.container2 div p {
    font-size: 1em;
}


@media (min-width: 768px) {
    .container {
        padding: 0 70px 0 70px;
    }

    .container2{
        flex-direction: row;
        height: max-content;
        padding: 0 70px 0 70px;
    }

    .container2 div {
        flex-direction: column;
    }

    .container2 div h2 {
        font-size: 2.8em;
        font-family: var(--tipografia2);
        line-height: 80px;
        margin-bottom: 20px; /* Añadir margen inferior para separar del botón */
    }

    .container2 div p {
        line-height: 40px;
        font-size: 1.4em;
    }
  }