
.container {
    background: linear-gradient(to bottom, transparent 2%, var(--celeste) 10%, var(--celeste) 90%, transparent 98%);
    color: var(--verde);
    margin-top: 20px;
    padding: 80px 20px 80px 20px;
}

.container2{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.lado1, .lado2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;     
}

.lado1 h2 {
    font-size: 2em;
    line-height: 60px;
    margin-bottom: 20px; /* Añadir margen inferior para separar del botón */
}

.lado2 p {
    font-size: 1em;
    line-height: 30px;
}


@media (min-width: 768px) {

    .container{
        margin-top: 50px;
    }
    .container2 {
      flex-direction: row;
      height: 300px;
      padding: 0 70px 0 70px;
  }

  .lado1 {
      flex-direction: column;
      padding-left: 20px;
  }

  .lado1 h2 {
      font-size: 2.5em;
      line-height: 60px;
  }

  .lado2 p {
      font-size: 1.125em;
  }
}