.container {
    margin-top: 80px;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.lado1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lados h1 {
    font-size: 40px;
}

.frase {
    color: var(--naranja);
}

.boton {
    width: 100%;
    margin-top: 25px;
}

.lado2 {
    width: 100%;
}

.lado2 img {
    width: 80%;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }

    .lado1, .lado2 {
        width: 50%;
    }

    .lado1 {
        padding-left: 100px;
    }

    .lado1 h1 {
        font-size: 50px;
    }
}