.container {
    width: 100%;
    height: calc(100vh - 85px);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    order: 0;
    margin-bottom: 40px;
}

.lado1 {
    order: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.lado1 h1 {
    font-size: 2.5em;
}

.frase {
    color: var(--naranja);
}

.boton {
    width: 100%;
    margin-top: 25px;
}

.lado2 {
    order: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lado2 img {
    width: 85%;
}

@media (min-width: 580px) {

    .container{
        height: max-content;
    }

    .lado2 img {
        width: 50%;
    }
}


@media (min-width: 768px) {
    .container {
        flex-direction: row;
        height: 400px;
        margin-bottom: 60px;
    }


    .lado1 {
        order: 1;
        justify-content: center;
        align-items: end;
        padding-right: 20px;
        margin: 0;
    }

    .lado2 {
        order: 2;
    }

    .lado1 h1 {
        font-size: 4em;
    }

    .lado2 img {
        width: 65%;
        object-fit: cover; 
    }
}