/* Benefits.module.css */
.title {
    font-size: 1.5em;
    margin: 20px 0 60px 0;
    color: #FF5733; /* Naranja para el título */
}

.cardsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1400px;
    height: 500px;
  }
  
  .card {
    border-radius: 30px;
    padding: 30px;
    width: 320px;
    height: 400px;
    background-color: var(--celeste2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .card h2 {
    margin-top: 0;
    width: 100%;
  }
  
  .card ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
  }
  
  .card ul li {
    margin-bottom: 8px;
  }