.container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
 background-color: var(--celeste2);
 padding: 20px 10px;
 border-radius: 30px;
}

.cabecera {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--text1);
    width: 100%;
}

.img {
  width: 100px;
  /* Asegúrate de que la altura coincida con el ancho para mantener la forma circular */
  border-radius: 50%; /* Usa 50% para que sea un círculo */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */ /* Ajusta los valores según el efecto deseado */
  object-fit: cover; /* Asegúrate de que la imagen cubra el contenedor sin distorsionarse */
}




.tableContainer {
    color: var(--text1);
    overflow-x: auto;
    margin-bottom: 20px;
    width: 100%;
  }
  
  .nutritionTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .nutritionTable thead {
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
  }
  
  .nutritionTable th {
    font-weight: bold;
    padding: 25px 5px;
    font-size:0.8em;
    text-align: center;
  }
  
  .nutritionTable td {
    padding: 12px;
    font-size:0.8em;
    text-align: center;
    border-top: solid 1px #fff;
  }
  

@media (min-width: 768px) {
    .container{
        
        padding: 40px;
        
       }

       .img{
        width: 150px;
        border-radius: 100%;
    }

       .nutritionTable th {
        font-size: 1em;
      }
      
      .nutritionTable td {
        font-size: 1em;
      }
}