.container {
    background: var(--verde);
    position: relative;
}

.img {
    background: var(--fondo2);
    width: max-content;
    border-radius: 100%;
    padding: 15px;
    position: absolute;
    top: -370px;
    right: 100px;
    width: 480px;
    z-index: 2;
}

.img img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:  150px 0 80px 0;
    margin: 0 80px;
    border-bottom: solid 1px #fff;
}

.grid .caja {
    width: 250px;
    height: 250px;
    background: #fff;
    border-radius: 100%;
    margin: 0 auto;
}

.tipos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tipos div {
    width: 50%;
    color: #fff;
    margin: 80px 80px 0 80px ;
}

.tipos .caja1{
    padding: 0 80px;
}

.tipos .caja1 h2 {
    margin-bottom: 25px;
    font-size: 38px;
}

.tipos .caja2{
    color: #fff;
    font-size: 25px;
    line-height: 48px;
}


.grid2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding:  80px 0 80px 0;
    margin: 0 80px;
    border-bottom: solid 1px #fff;
}

.grid2 .caja {
    width: 250px;
    height: 250px;
    background: #fff;
    border-radius: 100%;
    margin: 0 auto;
}