.btn {
    padding: 12px 30px;
    border: none;
    border-radius: 50px;
    background: var(--verde);
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    background: #304b1e;
}