.recipeList {
    max-width: 1400px;
    margin: 0 auto 50px auto;
}


.recipesGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

@media (min-width: 768px) {
   
    
}
