/* Navbar.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-image: url('/img/web/Background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

a, li {
  text-decoration: none;
  list-style: none;
}


.main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: none;
  padding: 110px 10px;
}





@media (min-width: 768px) {
  .main {
    padding: 110px 70px 50px 70px;
  }
}
