/* Navbar.module.css */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--tipografia1);
  font-size: 16px;
  background-image: url('/img/web/Background.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

a, li {
  text-decoration: none;
  list-style: none;
}


.main {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  border-bottom: none;
  padding: 110px 10px;
}


.no-results-message {
  height: 500px;
}

/*Scroll de filtro y busqueda*/
.Search-filter {
  transition: top 0.3s;
}

.Search-filter.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
  margin: 60px auto 0 auto;
  padding: 0 ;
  max-width: 1400px;
}



@media (min-width: 768px) {
  .main {
    padding: 110px 0 50px 0;
  }

  .Search-filter.fixed {
    margin: 80px auto 0 auto;
    padding: 0 70px 0 70px;
    
  }
}
